
<div class="profile-container">
  <div class="dashboard-header">
    <h2>User Profile</h2>
  
    <!-- Settings Dropdown -->
    <div class="icon-wrapper settings-icon-wrapper" title="Settings">
      <i class="fas fa-cog icon-style" (click)="toggleDropdown()"></i>
  
      <div *ngIf="showDropdown" class="settings-dropdown">
        <div class="settings-option" (click)="navigateToChangePassword()">Change Password</div>
      </div>
    </div>
  </div>
 
  <div class="profile-grid">
    <!-- Left: User Info -->
    <div class="user-info" *ngIf="userDetails">
      <h3>Basic Information</h3>
      <p><strong>User ID : </strong> {{ userDetails.userId }}</p>
      <p><strong>Name : </strong> {{ userDetails.userName }}</p>
      <p><strong>Email : </strong> {{ userDetails.userEmail }}</p>
      <p><strong>Role : </strong>{{ userDetails.userRole }}</p>
      <button mat-button (click)="updateUserDetails()">Update Profile</button>
    </div>
    <!-- Right: Address Cards -->
    <div class="address-section">
      <h3>Shipping Addresses</h3>
      <div *ngFor="let address of shippingAddresses" class="address-card">
        <p><strong>Address ID:</strong> {{ address.addressId }}</p>
        <p><strong>Address:</strong> {{ address.fullAddress }}</p>
        <button mat-button (click)="editAddress(address.addressId)">Edit</button>
      </div>
      <div *ngIf="shippingAddresses.length === 0" class="no-address">
        No shipping addresses found.
      </div>
    </div>
  </div>

  <!-- Add New Address -->
  <h3>Add New Shipping Address</h3>
  <div class="add-address-form">
    <label for="newAddress">Address</label>
    <input
      type="text"
      id="newAddress"
      [(ngModel)]="newAddress"
      placeholder="e.g., Vijayawada, Gandhi Nagar"
    />
  
    <button mat-button (click)="addNewAddress()">Add Address</button>
  </div>
  
  <!-- Payment Methods Section -->
  <div class="payment-section">
    <h3>User Payment Methods</h3>
    <div *ngFor="let payment of userPayments" class="payment-card">
      <p><strong>Payment Method:</strong> {{ payment.paymentMethod }}</p>
      <p><strong>Account Details:</strong> {{ payment.accountDetails }}</p>
    </div>
    <div *ngIf="userPayments.length === 0" class="no-payment">
      No payment methods found.
    </div>

    <!-- Add New Payment Form -->
    <h3>Add New Payment Method</h3>
    <div>
      <label for="paymentMethod">Payment Method</label>
      <input type="text" id="paymentMethod" [(ngModel)]="newPaymentMethod" placeholder="e.g., DEBIT_CARD" />

      <label for="accountDetails">Account Details</label>
      <input type="text" id="accountDetails" [(ngModel)]="newAccountDetails" placeholder="e.g., XXXX-XXXX-XXXX-0987" />

      <button mat-button (click)="addPaymentMethod()">Add Payment</button>
    </div>
  </div>
</div>
