<div class="users-container">
    <h2 class="users-title">All Users</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>User Info</th>
            <th>Role</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td style ="font-weight: 700;color: maroon;">{{ user.userId }}</td>
            <td>
              <div class="user-info">
                <div class="user-name">{{ user.userName }}</div>
                <div class="user-email">{{ user.userEmail }}</div>
              </div>
            </td>
            <td><span class="role-label">{{ user.userRole }}</span></td>
            <td>
              <ng-container *ngIf="user.shippingAddress?.length > 0; else noAddress">
                <div *ngFor="let addr of user.shippingAddress" class="address-box">
                  {{ addr.fullAddress }}
                </div>
              </ng-container>
              <ng-template #noAddress>
                <span class="no-address">No Address</span>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  