<div class="payment-section">
    <h3>Payment Details</h3>
  
    <label for="paymentMethod">Payment Method:</label>
    <select [(ngModel)]="paymentDetails.paymentMethod" name="paymentMethod" required>
        <option value="" disabled selected>Select a payment method</option>
      <option *ngFor="let method of paymentMethods" [value]="method">
        {{ method }}
      </option>
    </select>
  
    <label for="accountDetails">Account Details:</label>
    <input type="text" [(ngModel)]="paymentDetails.accountDetails" name="accountDetails" placeholder="Enter UPI ID or Card Number" required />
  
  </div>
  