<div class="dashboard-container">
  <!-- Left Sidebar -->
  <div class="dashboard-left">
    <ul class="nav-list">
      <li><button class="nav-link" (click)="goToSalesOverview()">Sales Overview</button></li>
      <li><button class="nav-link" (click)="goToOrderDetails()">Order Details</button></li>
      <li><button class="nav-link" (click)="goToProductDetails()">Product Details</button></li>
      <li><button class="nav-link" (click)="goToUserDetails()">User Details</button></li>
    </ul>
  </div>

  <!-- Main Body -->
  <div class="dashboard-body">
    <div class="dashboard-header">
      <h2>Admin Dashboard</h2>
      
      <!-- Settings Dropdown -->
      <div class="icon-wrapper settings-icon-wrapper" (click)="toggleSettingsDropdown()" title="Settings">
        <i class="fas fa-cog icon-style"></i>

        <div *ngIf="isSettingsDropdownVisible" class="settings-dropdown">
            <div class="settings-option" (click)="goToProfile()">Profile</div>
            <div class="settings-option" (click)="goToChangePassword()">Change Password</div>
            <div class="settings-option" (click)="logout()">
              {{ isLoggedIn ? 'Logout' : 'Login' }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>